/* ==========================================================================
   # SETTINGS
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  /* Spacing
  =========================================================================== */

  /* Baseline */
  --baseline: 4px;

  /* Spacing */
  --spacing-tiny: calc(var(--baseline) * 1);
  --spacing-small: calc(var(--baseline) * 2);
  --spacing-small-tiny: calc(var(--baseline) * 3);
  --spacing-base: calc(var(--baseline) * 4);
  --spacing-base-tiny: calc(var(--baseline) * 5);
  --spacing-base-small: calc(var(--baseline) * 6);
  --spacing-large: calc(var(--baseline) * 8);
  --spacing-large-tiny: calc(var(--baseline) * 9);
  --spacing-large-small: calc(var(--baseline) * 10);
  --spacing-large-base: calc(var(--baseline) * 11);
  --spacing-huge: calc(var(--baseline) * 16);
  --spacing-giant: calc(var(--baseline) * 32);

  /* Typographic
  =========================================================================== */

  /* Base font size */
  --font-size-large: 16px;
  --font-size: 12px;
  --font-size-small: 10px;

  /* Heading sizes */
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 18px;
  --font-size-h4: 18px;
  --font-size-h5: 18px;
  --font-size-h6: 18px;

  /* Letter spacing */
  --letter-spacing: 0.2rem;
  --letter-spacing-large: 0.4rem;

  /* Font family */
  --font-family: "Press Start 2P", monospace;

  /* Color
  =========================================================================== */

  /* Shades of grey */
  --color-grey-lighter: #c4cfa1;
  --color-grey-light: #c4cfa1;
  --color-grey: #8b956d;
  --color-grey-dark: #6b7353;
  --color-grey-darker: #414141;

  /* Main colors */
  --color-black: var(--color-grey-darker);
  --color-white: var(--color-grey-light);

  /* State colors */
  --color-error: #f5633e;
  --color-warning: #ff9f51;
  --color-success: #6bcca7;

  /* Objects
  ========================================================================== */

  /* Object Wrapper */
  --wrapper-width-small: 1100px;
  --wrapper-width: 1700px;

  /* Stuff
  =========================================================================== */

  /* Border */
  --border-width-small: 1px;
  --border-width: 2px;
  --border-width-large: 4px;
  --border-width-huge: 10px;

  /* Transition */
  --transition-base: 0.3s ease-in-out;
  --transition-slow: 0.6s ease-in-out;
}
